<div class="firstcreen-container">
    <div class="picture-container">
        <div class="picture-backgroundColor">
            <img src="./assets/img/photo-shadows.png" alt="">
        </div>
    </div>
    <div class="wing">
        <img src="./assets/img/wing-mobile.svg" alt="">
        <div class="Headline">
            <div class="vertical">
                <span>I am</span>
            </div>
            <div class="name">
                <span class="name-span">Stefan Horning</span>
                <span class="web-span">FRONTEND DEVELOPER</span>
            </div>
        </div>
    </div>
    <div class="talk-container">
        <a href="#">Let's talk!</a>
    </div>
    <div class="sozial-media">
        <div class="line"></div>
        <div>
            <img src="../../assets/img/github-child.svg" alt="">
            <img src="../../assets/img/email-child.svg" alt="">
            <img src="../../assets/img/linkedin-child.svg" alt="">
        </div>
    </div>
</div>