
<div class="destop-overcontainer">
        <div>
            <div class="picture-backgroundColor">
                <img src="./assets/img/photo-shadows.png" alt="">
            </div>
        </div>
        <div class="destop-headline-overcontainer">
            <div class="destop-Headline">
                <div class="vertical">
                    <span>I am</span>
                </div>
                <div class="name">
                    <span class="name-span">Stefan Horning</span>
                    <span class="web-span">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <div class="talk-container-destop">
                <a href="#contact-side">Let's talk!</a>
            </div>
        </div>
        <img class="wing-destop" src="../../assets/img/destop.svg" alt="">
</div>
