
<div class="destop-overcontainer">
        <div>
            <div class="picture-backgroundColor">
                <img src="./assets/img/photo-shadows.png" alt="">
            </div>
        </div>
        <div class="destop-headline-overcontainer">
            <div class="destop-Headline">
                <div class="vertical">
                    <span>I am</span>
                </div>
                <div class="name">
                    <span class="name-span">Stefan Horning</span>
                    <span class="web-span">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <div class="talk-container-destop">
                <a href="#contact-side">Let's talk!</a>
            </div>
        </div>
        <img class="wing-destop" src="../../assets/img/destop.svg" alt="">
        <div *ngIf="screenWidth > 899" class="sozial-media">
            <div class="line"></div>
            <div class="sozial-media-icons">
                <a href="https://github.com/Stefan-Horning"><img src="../../assets/img/github-child.svg" alt=""></a>
                <a href="mailto:stefanhorning@icloud.com"><img src="../../assets/img/email-child.svg" alt=""></a>
                <a href="https://www.linkedin.com/in/stefan-horning-5a3294296/"><img src="../../assets/img/linkedin-child.svg" alt=""></a>    
            </div>
        </div>
</div>
