<div class="footer">
    <div class="name-container">
        <span class="name">Ste</span><p class="dot-color">f</p><span class="name">a</span><p class="half-color">n</p>
    </div>
    <div class="copyright">
        <span>© Stefan Horning 2023</span>
    </div>
    <div class="sozial-media">
        <a href="#"><img src="../../assets/img/github-child.svg" alt=""></a>
        <a href="#"><img src="../../assets/img/email-child.svg" alt=""></a>
        <a href="#"><img src="../../assets/img/linkedin-child.svg" alt=""></a>
    </div>
    <div class="Impressum">
        <a href="">Impressum</a>
    </div>
</div>