<div class="about-me-container">
    <img class="backgraound-effect" src="../../assets/img/about-me-shadow.svg" alt="">
    <div class="sozial-media">
        <div class="line"></div>
        <div class="sozial-media-icons">
            <a href="https://google.com"><img src="../../assets/img/github-child.svg" alt=""></a>
            <a href="#"><img src="../../assets/img/email-child.svg" alt=""></a>
            <a href="#"><img src="../../assets/img/linkedin-child.svg" alt=""></a>    
        </div>
    </div>
    <h1>About me</h1>
    <div class="about-me-text-container">
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ad enim dolor impedit perspiciatis harum nesciunt ullam non, a eos quis maiores accusantium. Provident illum consequuntur tenetur quis inventore eius! Lorem ipsum, 
        </span>
    </div>
</div>