.about-me-container{
    width: 100%;
    position: relative;
    background-color: rgb(20, 29, 47);
    overflow-x: hidden;
    height: 1000px;
}

.backgraound-effect{
    position: absolute;
    top: -10%;
    right: -60%;
    width: 100%;
    height: fit-content;
}

h1{
    font-size: 45px;
    font-weight: 700;
}