<div id="me-slide" class="about-me-container">
    <img class="backgraound-effect" src="../../assets/img/about-me-shadow.svg" alt="">
    <div class="sozial-media">
        <div class="line"></div>
        <div class="sozial-media-icons">
            <a href="https://github.com/Stefan-Horning"><img src="../../assets/img/github-child.svg" alt=""></a>
            <a href="mailto:stefanhorning@icloud.com"><img src="../../assets/img/email-child.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/stefan-horning-5a3294296/"><img src="../../assets/img/linkedin-child.svg" alt=""></a>    
        </div>
    </div>
    <h1>About me</h1>
    <div class="about-me-text-container">
        <span>
            At the age of 14, I discovered my passion for the world of software development, and thanks to my unwavering ambition, I successfully completed the adult education program in software development at the Developer Academy by the age of 16.
            To continuously enhance my programming skills, I am always on the lookout for interesting projects and opportunities in the job market
        </span>
        <div class="personal-think" data-aos="zoom-in" data-aos-offset="300">
            <div>   
                <img src="../../assets/img/lamp.svg" alt="">
            </div>
            <div class="personal-span">
                <span >During my education, I approached projects with dedication and demonstrated my teamwork skills in various group projects.</span>
            </div>
        </div>
        <div class="personal-think" data-aos="zoom-in" data-aos-offset="300">
            <div>   
                <img src="../../assets/img/puzzle.svg" alt="">
            </div>
            <div class="personal-span">
                <span>My goal is to study computer science in the future. Currently, I am completing my Abitur education with a major in mathematics and a focus on computer science.</span>
            </div>
        </div>
    </div>
</div>