<div class="contact-container">
    <img class="contact-background" src="../../assets/img/contact-background.svg" alt="">
    <div id="contact-side" class="headline">
        <div class="line"></div>
        <h1>Contact</h1>
    </div>
    <div class="sub-headline">
        <span>Got a problem to solve?</span>
    </div>
    <div class="text">
        <span>
            Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.
        </span>
       
    </div>
    <div class="slogen">
        <span>Need a Frontend developer?</span>
        <p>Contact me!</p>
    </div>
    <form (submit)="sendMail()" ngNativeValidate #myForm >
        <div class="Contact">
            <div>
                <input required minlength="2" placeholder="Your name" type="text" #nameField>
                <img src="../../assets/img/false.svg" alt="" *ngIf="!nameField.validity.valueMissing">
            </div>
            <div>
                <input required placeholder="Your email" type="email" #emailField>
                <img src="../../assets/img/false.svg" alt="" *ngIf="!emailField.validity.valueMissing">
            </div>
            <div>   
                <textarea minlength="3" required #massageField placeholder="Your massage"></textarea>
                <img src="../../assets/img/false.svg" alt="" *ngIf="!massageField.validity.valueMissing">
            </div>
        </div>
        <div class="policy">
            <div class="checkbox">
                <label for="AGB"><input required id="AGB" type="checkbox"></label>
            </div>
            <div>
                <span>I've read the</span>
                <a href="#">privacy policy</a>
                <span>and agree to the processing of my data as outlined.</span>
            </div>
        </div>
        <div class="submit-button">
            <button #buttonField>Send message :)</button>
        </div>
    </form>
    <div class="top">
        <a href="#top-side"><img src="../../assets/img/top.svg" alt=""></a>
    </div>
</div>