<div class="contact-container">
    <img class="contact-background" src="../../assets/img/contact-background.svg" alt="">
    <div id="contact-side" class="headline">
        <div class="line"></div>
        <h1>Contact</h1>
    </div>
    <div class="sub-headline">
        <span>Got a problem to solve?</span>
    </div>
    <div class="text">
        <span>
            Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.
        </span>
       
    </div>
    <div class="slogen">
        <span>Need a Frontend developer?</span>
        <p>Contact me!</p>
    </div>
    <form #form (submit)="sendMail()" ngNativeValidate #myForm  [formGroup]="contactForm">
        <div class="Contact">
            <div>
                <input formControlName="nameInput" required minlength="2" placeholder="Your name" type="text" #nameField name="name">
                <img *ngIf=" contactForm.controls['nameInput'].invalid && (contactForm.controls['nameInput'].dirty || contactForm.controls['nameInput'].touched)" src="../../assets/img/false.svg" alt="">
                <span *ngIf=" contactForm.controls['nameInput'].invalid && (contactForm.controls['nameInput'].dirty || contactForm.controls['nameInput'].touched)">Your name is required</span>
            </div>
            <div>
                <input (ngModelChange)="setBorderColor()" formControlName="emailInput" required placeholder="Your email" type="email" #emailField name="email">
                <img *ngIf=" contactForm.controls['emailInput'].invalid && (contactForm.controls['emailInput'].dirty || contactForm.controls['emailInput'].touched && contactForm.controls['emailInput'].hasError('pattern'))" src="../../assets/img/false.svg" alt="">
                <span *ngIf=" contactForm.controls['emailInput'].invalid && (contactForm.controls['emailInput'].dirty || contactForm.controls['emailInput'].touched && contactForm.controls['emailInput'].hasError('pattern'))">Your email is required</span>
            </div>
            <div>   
                <textarea formControlName="massageInput" minlength="10" required #massageField placeholder="Your massage" name="massage"></textarea>
                <img *ngIf="contactForm.controls['massageInput'].invalid && (contactForm.controls['massageInput'].dirty || contactForm.controls['massageInput'].touched)" src="../../assets/img/false.svg" alt="">
                <span *ngIf="contactForm.controls['massageInput'].invalid && (contactForm.controls['massageInput'].dirty || contactForm.controls['massageInput'].touched)" >Your message is empty</span>
            </div>
        </div>
        <div class="policy">
            <div class="checkbox">
                <label for="AGB"><input formControlName="checkboxInput" name="checkbox" required id="AGB" type="checkbox"></label>
            </div>
            <div>
                <span>I've read the</span>
                <a href="#">privacy policy</a>
                <span>and agree to the processing of my data as outlined.</span>
            </div>
        </div>
        <div class="submit-button">
            <button [disabled]="!contactForm.valid" #buttonField>Send message :)</button>
        </div>
    </form>
    <div class="top">
        <a href="#top-side"><img src="../../assets/img/top.svg" alt=""></a>
    </div>
</div>