<div class="portfolio-container">
    <div class="projects" data-aos="fade-left" data-aos-offset="300">
        <img src="./assets/img/DABubble.png" alt="">
        <div class="colum">
            <span class="name">DABubble</span>
            <span class="programming">Angular | TypeScript | SCSS</span>
            <span class="description"> {{'DABubble' | translate}}</span>
            <div class="buttons">
                <a class="live" target="_blank" href="https://dabubble.stefan-horning.com/">Live test</a>
                <a class="code" target="_blank" href="https://github.com/Stefan-Horning/DABubble">GitHub</a>
            </div>
        </div>
    </div>
    <div class="projects" data-aos="fade-right" data-aos-offset="300">
        <img src="./assets/img/Join-finale-new.png" alt="">
        <div class="colum">
            <span class="name">Makeupartist</span>
            <span class="programming">Angular | TypeScript | SCSS</span>
            <span class="description"> {{'makeup' | translate}}</span>
            <div class="buttons">
                <a class="live" target="_blank" href="https://www.swetlana-makeupartist.de/Home">Live test</a>
                <a class="code" target="_blank" href="https://github.com/Stefan-Horning/Web">GitHub</a>
            </div>
        </div>
    </div>
    <div class="projects-re" data-aos="fade-left" data-aos-offset="300">
        <img src="./assets/img/osteomedica.png" alt="">
        <div class="colum-re">
            <span class="name">Osteomedica</span>
            <span class="programming">Angular | TypeScript | SCSS</span>
            <span class="description">{{ 'osteomedica' | translate }}</span>
            <div class="buttons">
                <a class="live" target="_blank" href="https://osteomedica-toenisvorst.de/home">Live test</a>
                <a class="code" target="_blank" href="https://github.com/Stefan-Horning/Krankengymnastik">GitHub</a>
            </div>
        </div>
        
    </div>
    <div class="projects-re" data-aos="fade-right" data-aos-offset="300">
        <img src="./assets/img/EL_T.png" alt="">
        <div class="colum-re">
            <span class="name">El Pollo Loco</span>
            <span class="programming">JavaScript | HTML | CSS</span>
            <span class="description">{{ 'Pollo' | translate }}</span>
            <div class="buttons">
                <a class="live" target="_blank" href="https://stefan-horning.com/PolloLoco/index.html">Live test</a>
                <a class="code" target="_blank" href="https://github.com/Stefan-Horning/El-Pollo-Loco">GitHub</a>
            </div>
        </div>
        
    </div>
    
    <img class="background-end" src="./assets/img/portfolioEnd.svg" alt="">
</div>