<div class="portfolio-container">
    <div class="projects" data-aos="fade-right" data-aos-offset="500">
        <img src="../../assets/img/Join-finale.png" alt="">
        <div class="colum">
            <span class="name">Join</span>
            <span class="programming">Javascript | HTML | CSS</span>
            <span class="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
            <div class="buttons">
                <a class="live" href="#">Live test</a>
                <a class="code" href="https://github.com/Stefan-Horning/JoinGrupp">Github</a>
            </div>
        </div>
    </div>
    <div class="projects-re" data-aos="fade-left" data-aos-offset="500">
        <img src="../../assets/img/EL_T.png" alt="">
        <div class="colum-re">
            <span class="name">El Pollo Loco</span>
            <span class="programming">Javascript | HTML | CSS</span>
            <span class="description">A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and poison bottles to fight against the killer chicken.</span>
            <div class="buttons">
                <a class="live" href="#">Live test</a>
                <a class="code" href="https://github.com/Stefan-Horning/El-Pollo-Loco">Github</a>
            </div>
        </div>
        
    </div>
    <img class="background-end" src="../../assets/img/portfolioEnd.svg" alt="">
</div>