.my-skills-container{
    position: relative;
    margin: 0;
    background-color: rgb(20, 29, 47);
    width: 100%;
    font-family: 'Poppins';
}

.destop-view{
    @media (min-width:900px) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.headline{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    @media (min-width:900px) {
        justify-content: space-between;
    }

    @media (min-width:1200px) {
        justify-content: flex-end;
    }

    h1{
        font-size: 45px;
        font-weight: 700;
        color: white;
        margin-right: 10px;

        @media (min-width:900px) {
            margin-left: 30px;
            font-size: 55px;
        }

        @media (min-width:1200px) {
            font-size: 65px;
        }

        @media (min-width:1400px) {
            font-size: 70px;
            margin-right: 70px;
        }
    }

    .line{
        width: 20px;
        height: 3px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #9747FF;

        @media (min-width:900px) {
            width: 30px;
        }
    }
}

.explain-skill{
    display: flex;
    justify-content: flex-end;
    max-width: 800px;

    span{
        font-size: 16px;
        font-weight: 400;
        text-align: end;
        color: white;
        margin-right: calc(10px + 20px);

        @media (min-width:900px) {
            text-align: center;
            font-size: 16px;
        }

        @media (min-width: 1200px) {
            text-align: end;
            font-size: 16px;
        }

        @media (min-width: 1400px) {
            text-align: end;
            font-size: 18px;
        }

    }
}

.skills-list{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media(min-width: 700px){
        margin-right: 50px;
        margin-left: 50px;
    }

    @media(min-width: 900px){
        margin-right: 0px;
        margin-left: 0px;
    }

    @media(min-width: 100px){
        margin-right: 20px;
        margin-left: 20px;
    }

    div{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100px;
        width: 90px;
        margin-left: 10px;
        margin-right: 10px;

        @media(min-width: 550px){
            height: 110px;
            width: 100px;
        }

        @media(min-width: 600px){
            height: 140px;
            width: 120px;
        }

        @media(min-width: 800px){
            height: 140px;
            width: 150px;
        }

        @media(min-width: 900px){
            height: 110px;
            width: 100px;
        }

        @media(min-width: 1000px){
            height: 140px;
            width: 120px;
        }

        @media(min-width: 1600px){
            height: 140px;
            width: 150px;
        }
    }
    
    img{
        width: 45px;
        height: 45px;
        @media(min-width: 550px){
            height: 55px;
            width: 55px;
        }
    }

    span{
        height: 26px;
        text-align: center;
        color: white;
        max-width: 100%;
        gap: 10px;
    }
}

.talk-container{
    margin-top: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    a{
        z-index: 10;
        margin-top: -20px;
        padding: 15px 30px 15px 30px;
        text-decoration: none;
        background-color: #70E61C;
        border-radius: 10px;
        color: white;
        gap: 10px;
        transition: all 125ms ease-in-out;

        &:hover{
            scale: 1.2;
            background-color: #9747FF;
        }
    }
}



.headline-portfolio{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (min-width:700px) {
        height: 200px;
    }

    span{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 45px;
        font-weight: 700;
        color: white;

        @media (min-width:500px) {
            font-size: 55px;
        }

        @media (min-width:700px) {
            font-size: 65px;
        }

    }
}

.short-line{
    width: 20px;
    height: 3px;
    background-color: #9747FF;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    @media (min-width:700px) {
        width: 40px;
    }
}

.long-line{
    width: 75px;
    height: 3px;
    background-color: #9747FF;

    @media (min-width:700px) {
        width: 220px;
    }

    @media (min-width:950px) {
        width: 350px;
    }

    @media (min-width:1000px) {
        width: 450px;
    }

    @media (min-width:1300px) {
        width: 550px;
    }

    @media (min-width:1300px) {
        width: 650px;
    }

    @media (min-width:1700px) {
        width: 750px;
    }
}

.backgraound-effect{
    rotate: -90deg;
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -50%;
}

.Portfolio-span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    @media (min-width:500px) {
        justify-content: flex-end;
    }

    @media (min-width:950px) {
        justify-content: center;
    }
    span{
        font-size: 16px;
        font-weight: 400;
        color: white;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;

        @media (min-width:500px) {
            justify-content: flex-end;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}