<div class="my-skills-container">
    <div class="headline">
        <h1>My skills</h1>
        <div class="line"></div>
    </div>
    <div class="explain-skill">
        <span>I have gained experience in building projects with various front end technologies and concepts.</span>
    </div>
    <div class="skills-list">
        <div>
            <img src="../../assets/img/skill1.svg" alt="">
            <span>Angular</span>
        </div>
        <div>
            <img src="../../assets/img/skill2.svg" alt="">
            <span>Typescript</span>
        </div>
        <div>
            <img src="../../assets/img/skill3.svg" alt="">
            <span>Javascript</span>
        </div>
        <div>
            <img src="../../assets/img/skill4.svg" alt="">
            <span>HTML</span>
        </div>
        <div>
            <img src="../../assets/img/skill5.svg" alt="">
            <span>Firebase</span>
        </div>
        <div>
            <img src="../../assets/img/skill6.svg" alt="">
            <span>GIT</span>
        </div>
        <div>
            <img src="../../assets/img/skill7.svg" alt="">
            <span>CSS</span>
        </div>
        <div>
            <img src="../../assets/img/skill8.svg" alt="">
            <span>Material design</span>
        </div>
        <div>
            <img src="../../assets/img/skill9.svg" alt="">
            <span>Rest-Api</span>
        </div>
        <div>
            <img src="../../assets/img/skill10.svg" alt="">
            <span>Scrum</span>
        </div>
       
    </div>
    <div class="talk-container">
        <a href="#portfolio-side">Get in touch</a>
    </div>
    
    <div id="portfolio-side" class="headline-portfolio">
        <div class="short-line"></div>
        <span>Portfolio</span>
        <div class="long-line"></div>
    </div>
    <div class="Portfolio-span">
        <span>This page is a sample of my work - please feel free to try them out.</span>
    </div>
    <img class="backgraound-effect" src="../../assets/img/skills-background.svg" alt="">
</div>