.main-container{
    position: relative;
    z-index: 99 !important;
    background-color: rgb(20, 29, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-height: 40px;
    min-height: 40px;
}

.name-container{
    font-family: 'Lexend';
    display: flex;
}

.dot-color{
    margin: 0;
    font-size: 36px;
    color: white;
    background: linear-gradient(to top, white 30%,  rgb(152, 71, 255) 70%);
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.name{
    font-size: 36px;
    color: white;
}

.half-color{
    margin: 0;
    font-size: 36px;

    background: linear-gradient(to right, white 50%, #98fe00 50%);
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.image-container {
    cursor: pointer;
}

.burger-menu{
    cursor: pointer;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    --webkit-appearance: none;
    border: none;
    outline: none;
    stroke: white;
    cursor: pointer;
    transition: all 175ms ease-in-out;
    
    &:hover {
      stroke: lighten(#ef5435, 30%);
    }
  }
  svg { 
    width: 100px;
  }
  
  #burger-bar-one {
    opacity: 1;
    stroke-dasharray: 412px 1500px;
  }
  #burger-bar-two {
    opacity: 1;
    stroke-dasharray: 412px 1500px;
  }
  #burger-bar-three {
    opacity: 1;
  }
  
  .path {
    fill: transparent;
    stroke-width: 67px;
    stroke: #000000;
    stroke-linecap: round;
    opacity: 0;
    stroke: inherit;
  }
  
//<a href="#top-side"><img *ngIf="!isMenuOpen" (click)="checkMenuMobile()" class="burger-menu" src="./assets/img/burger-menu.svg" alt=""></a>